@page
@model CalendarHeatingRoomPlanningUI.Pages.Forms.ICalShowDataModel
@{
    ViewData["Title"] = "Show iCal Data";
}

<h1>Calendar Data</h1>
@{ int counter = 1; }
<table style="width:100%">
    <tbody>
        <tr>
            <td>#</td>
            <td>Start</td>
            <td>Stop</td>
            <td>All-Day</td>
            <td>Text</td>
        </tr>
        @if ((Model.Data != null) && (Model.Data.EventData.Count > 0))
        {
            @foreach (CalendarHeatingRoomPlanning.SingleEvent singleEvent in Model.Data.EventData)
            {
                <tr>
                    <td>@counter</td>
                    <td>@singleEvent.Start.ToString()</td>
                    <td>@singleEvent.Stop.ToString()</td>
                    <td>@singleEvent.DayEvent.ToString()</td>
                    <td>@singleEvent.Description</td>
                </tr>
                counter++;
            }
        }

        <!--
        @if ((Model.Calendar != null) && (Model.Calendar.Children.Count > 0))
        {
            @foreach (Ical.Net.CalendarComponents.CalendarEvent cal in Model.Calendar.Children)
            {
                <tr>
                    <td>@counter</td>
                    <td>@cal.Start.ToString()</td>
                    <td>@cal.End.ToString()</td>
                    <td>@cal.Summary</td>
                </tr>
                counter++;
            }
        }
    -->
    </tbody>
</table>
